


/* 
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
      }
  
      
   .navbar-brand img {
      width: 5rem;
      height: 5rem;
    }  
  
      .mission {
        background-color: #e9ecef;
        padding: 60px 0;
        text-align: center;
      }
  
      .mission h2 {
        font-weight: bold;
        color: #dc3545;
      }
  
      .info-img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        display: block; 
        margin: 0 auto; 
      }
  
      footer {
        margin-top: 50px;
        text-align: center; 
      }
  
      .text-center {
        text-align: center; 
      } */


      