



.hero01 {
     /* position: relative;  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
  }
  
  .hero01 h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .hero01 p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #fff;
  }
  
  form .form-name {
    border: 2px solid #ced4da;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #f8f9fa;
  }
  
  form .form-name:focus {
    border-color: #857b7b;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(211, 233, 255, 0.25);
  }
  
  select.form-name {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
  }
  

  form .req_blood:hover {
    background-color: #92221e;
  }

  form .row .col-sm, form .row .col-auto {
    margin-bottom: 10px;
  }

  
  .main01 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  